.cart {
  padding: 10px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &__count {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 2;
    padding-top: 2px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

}