.title {
  font-family: 'Raleway';
  color: #1D1F22;
  font-size: 30px;
  line-height: 27px;
  font-weight: 600;
}

.subtitle {
  margin-top: 16px;
  font-family: 'Raleway';
  color: #1D1F22;
  font-size: 30px;
  line-height: 27px;
  font-weight: 400;
}

.overlay {
  font-family: 'Raleway';
  color: #1D1F22;
  font-weight: 300;
  max-width: 136px;
  font-size: 16px;
  line-height: 160%;
}