.product {
  padding: 80px 100px 200px;

  &__content {
    display: flex;
    gap: 80px;
    align-items: flex-start;
  }

  &__aside {
    display: flex;


    &__image-wrapper {
      flex-direction: column;
      gap: 40px;
      width: 80px;
      overflow: hidden;
      display: flex;
      justify-content: center;
    }
  }

}