.product {
  padding: 80px 100px 200px;

  &__content {
    display: flex;
    gap: 80px;
    align-items: flex-start;
  }

  &__aside {
    display: flex;


    &__image-wrapper {
      flex-direction: column;
      gap: 40px;
      width: 80px;
      overflow: hidden;
      display: flex;
      justify-content: center;

      &>div {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        border: 1px solid rgba($color: #fff, $alpha: 0.0);
        transition: border .4s ease;

        &.active {
          border: 1px solid #5ECE7B;
        }
      }

      &>div:hover,
      &>div:focus {
        cursor: pointer;
        border: 1px solid #5ECE7B;
      }
    }
  }

}