.product {
  padding: 80px 100px 200px;

  &__content {
    display: flex;
    gap: 80px;
    align-items: flex-start;
  }

  &__aside {
    display: flex;


    &__image-wrapper {
      flex-direction: column;
      gap: 40px;
      width: 80px;
      overflow: hidden;
      display: flex;
      justify-content: center;

      &>img.active {
        border: 1px solid #5ECE7B;
      }

      &>img:hover,
      &>img:focus {
        cursor: pointer;
        border: 1px solid #5ECE7B;
      }
    }
  }

}