.title {
  font-family: 'Raleway';
  color: #1D1F22;
  font-size: 30px;
  line-height: 27px;
  font-weight: 600;
}

.subtitle {
  margin-top: 16px;
  font-family: 'Raleway';
  color: #1D1F22;
  font-size: 30px;
  line-height: 27px;
  font-weight: 400;
}