.product__info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;

  &__image-outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
  }

  &__image-wrapper {
    width: 610px;
    height: 511px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__about {
    max-width: 310px;
    display: flex;
    flex-direction: column;

    &-attributes {
      margin-top: 40px;

      &_warning {
        border: 2px solid tomato;
        border-radius: 4px;
      }
    }

    &-button {
      margin-top: 20px;
    }

    &-description {
      margin-top: 40px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 159.96%;

      &>p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      div>ul>li {
        margin-top: 10px;
      }
    }
  }
}

.product__price {
  margin-top: 36px;
  font-family: 'Raleway';
  margin-top: 20px;
  font-size: 24px;
}