.product__info {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;

  &__image-wrapper {
    width: 610px;
    height: 511px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  &__about {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    color: #1D1F22;
    font-size: 30px;
    line-height: 27px;

    &-brand {
      font-weight: 600;
    }

    &-name {
      margin-top: 16px;
      font-weight: 400;
    }

    &-attributes {
      margin-top: 40px;
    }

    &-button {
      margin-top: 20px;
    }

    &-description {
      // text-overflow: ellipsis;
      // overflow: hidden;
      margin-top: 40px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 159.96%;

      &>p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      div>ul>li {
        margin-top: 10px;
      }
    }
  }
}