._sold-out-title {
  top: 40%;
  position: absolute;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  align-self: center;
  color: #8D8F9A;
  z-index: 5;
}

._sold-out-title_big {
  top: 40%;
  position: absolute;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 160%;
  align-self: center;
  color: #8D8F9A;
  z-index: 5;

  &_warning {
    color: tomato;
  }
}

._sold-out-image-filter {
  filter: opacity(70%);
}