.page {
  margin: 25% auto;
  max-width: 640px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #5ECE7B;
}